<!DOCTYPE html>
<html>
<head>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="apple-mobile-web-app-title" content="Helping Hands">
    <meta name="application-name" content="Helping Hands">
    <meta name="theme-color" content="#ffffff">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!--CSS-->
    <link type="text/css" rel="stylesheet" href="../css/materialize.min.css"  media="screen,projection"/>

    <link href='https://fonts.googleapis.com/css?family=Raleway:400,700,600' rel='stylesheet' type='text/css'>

    <link href='https://fonts.googleapis.com/css?family=Covered+By+Your+Grace' rel='stylesheet' type='text/css'>

    <link href='https://fonts.googleapis.com/css?family=Abel' rel='stylesheet' type='text/css'>

    <link href="../css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

</head>

<body>

    <nav>
        <div class="nav-wrapper pink-bg">
            <a class="brand-logo"><img src="css/imgs/logo.png" width="200"></a>
            <ul id="nav-mobile" class="right">
                <li class="search">
                    <div class="nav-wrapper">
                        <form>
                            <div class="input-field">
                                <input id="search" type="search" required>
                                <label for="search"><i class="material-icons">search</i></label>
                                <i class="material-icons">close</i>
                            </div>
                        </form>
                    </div>
                <li><a id="logout" href="#">Logout</a></li>
            </ul>
        </div>
    </nav>

    <main>

    <div class="container" id="maincontainer">
        <div class="row">
            <!-- Sidebar Navigation (image) -->
            <div class="col hide-on-small-only m3 l2">
                <div class="toc-wrapper pin-top" style="top: 0px;">
                    <img src="{{userImage}}" class="circle responsive-img">
                    <!-- Side Navigation Links  -->
                    <br>
                    <br>
                    <blockquote>
                        <ul class="links">
                            <!--<li><a class="modal-trigger" href="#postADonation">Post Donation</a></li>-->
                            <li><a class="torequests" href="#requested">Donation Requests</a></li>
                            <li><a id ="helpingHandsStore" href="/">Helping Hands Store</a></li>
                        </ul>
                    </blockquote>
                </div>
            </div>

                <!-- Post Info Area -->
                <div class="col s12 m10 l10">
                    <div>
                        <div id="username">
                            <h2>Manage Your Posts</h2>
                            <br>
                            <hr>
                        </div>
                    </div>


                <br>
                <div id="currentPosts">
                    <h5>Your Active Posts</h5>
                </div>

            <div class="row">
                     <!-- Post 1 -->
                    <div class="col s12 m3">
                        <div class="card">
                            <div class="card-image waves-effect waves-block waves-light">
                                <img class="activator" src="../css/imgs/placeholders/Follistim.jpg">
                            </div>
                            <div class="card-content">
                                <span class="card-title activator grey-text text-darken-4">Follistim</span>
                                <p><a class="modal-trigger" href="#updateProduct">Update Post</a></p>
                            </div>
                        </div>
                    </div>

                    <!-- Post 2 -->
                    <div class="col s12 m3">
                        <div class="card">
                            <div class="card-image waves-effect waves-block waves-light">
                                <img class="activator" src="css/imgs/placeholders/ganirelix.png">
                            </div>
                            <div class="card-content">
                                <span class="card-title activator grey-text text-darken-4">Ganirelix</span>
                                <p><a class="modal-trigger" href="#updateProduct">Update Post</a></p>
                            </div>
                        </div>
                    </div>

                    <!-- Post 3 -->
                    <div class="col s12 m3">
                        <div class="card">
                            <div class="card-image waves-effect waves-block waves-light">
                                <img class="activator" src="css/imgs/placeholders/follistim_pen.jpg">
                            </div>
                            <div class="card-content">
                                <span class="card-title activator grey-text text-darken-4">Follistim Pen</span>
                                <p><a class="modal-trigger" href="#updateProduct">Update Post</a></p>
                            </div>
                        </div>
                    </div>


                    <!-- Post 4 -->
                    <div class="col s12 m3">
                        <div class="card">
                            <div class="card-image waves-effect waves-block waves-light">
                                <img class="activator" src="css/imgs/placeholders/ovidrel.jpg">
                            </div>
                            <div class="card-content">
                                <span class="card-title activator grey-text text-darken-4">Ovidrel</span>
                                <p><a class="modal-trigger" href="#updateProduct">Update Post</a></p>
                            </div>
                        </div>
                    </div>
            </div>

                <div id="requested">
                    <h5>Pending Donation Requests</h5>
                </div>

                <!-- Donation Requests -->
                <div class="row">
                    <div class="col s12 m3">
                        <div class="card">
                            <div class="card-image">
                                <img src="../css/imgs/placeholders/prescription.jpg">
                            </div>

                            <div class="card-content">
                                <p> Briana needs this medication!</p>
                            </div>

                            <div class="card-action">
                                <a class= "modal-trigger blueClick" href="#congrats">Accept Donation Request</a>
                                <br>
                                <a class="modal-trigger" href="#reject">Reject Donation Request</a>
                            </div>
                        </div>
                    </div>

                    <div class="col s12 m3">
                        <div class="card">
                            <div class="card-image">
                                <img src="../css/imgs/placeholders/prescription.jpg">
                            </div>
                            <div class="card-content">
                                <p> Hannah needs this medication!</p>
                            </div>
                            <div class="card-action">
                                <a class= "modal-trigger blueClick" href="#congrats">Accept Donation Request</a>
                                <br>
                                <a class="modal-trigger" href="#reject">Reject Donation Request</a>
                            </div>
                        </div>
                    </div>

                    <div class="col s12 m3">
                        <div class="card">
                            <div class="card-image">
                                <img src="../css/imgs/placeholders/prescription.jpg">
                            </div>
                            <div class="card-content">
                                <p> Sarah needs this medication!</p>
                            </div>
                            <div class="card-action">
                                <a class= "modal-trigger blueClick" href="#congrats">Accept Donation Request</a>
                                <br>
                                <a class="modal-trigger" href="#reject">Reject Donation Request</a>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>

                    <!-- Update Modal Structure -->
                    <div id="updateProduct" class="modal">
                        <div class="modal-content ">
                            <button class="modal-close btn-flat" style="position:absolute;top:0;right:0;">X</button>
                            <h4>Update Your Post</h4>
                            <p>Adjust your post accordingly</p>
                            <div>
                                <div class="row">
                                    <div class="input-field col s6">
                                        <input id="medication_name" type="text" class="validate">
                                        <label for="medication_name">Medication Name</label>
                                    </div>
                                    <div class="input-field col s6">
                                        <input id="description" type="text" class="validate">
                                        <label for="description">Description</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s12">
                                        <input id="quantity" type="text" class="validate">
                                        <label for="quantity">Quantity</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s12">
                                        <input id="expiration_date" type="date" class="datepicker">
                                        <label for="expiration_date">Expiration Date</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s12">
                                        <input id="imageURL" type="url" class="validate">
                                        <label for="imageURL">Input Image URL</label>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <form action="#">
                                    <input type="hidden" name="update" value="true">
                                    <button class="btn waves-effect waves-light right" type="submit" name="action" id="postDonation">Update Your Post</button>
                                </form>
                                <form action="#">
                                    <input type="hidden" name="delete" value="true">
                                    <button class="btn waves-effect waves-light pink left" type="submit" name="action" id="deletePost">Delete Your Post</button>
                                </form>
                            </div>
                        </div>
                    </div>

                    <!-- Post Donation Modal Structure -->
                    <div id="postADonation" class="modal">
                        <div class="modal-content ">
                            <button id="clearModal" class="modal-close btn-flat" style="position:absolute;top:0;right:0;">X</button>
                            <h4>Post Donation</h4>
                            <p>Tell us a bit about what you're donating today</p>
                            <form>
                                <div class="row">
                                    <div class="input-field col s6">
                                        <input id="medication_name" type="text" class="validate">
                                        <label for="medication_name">Medication Name</label>
                                    </div>
                                    <div class="input-field col s6">
                                        <input id="description" type="text" class="validate">
                                        <label for="description">Description</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s12">
                                        <input id="quantity" type="text" class="validate">
                                        <label for="quantity">Quantity</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s12">
                                        <input id="expiration_date" type="date" class="datepicker">
                                        <label for="expiration_date">Expiration Date</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s12">
                                        <input id="imageURL" type="url" class="validate">
                                        <label for="imageURL">Input Image URL</label>
                                    </div>
                                </div>
                            </form>

                            <div class="modal-footer">
                                <button class="btn waves-effect waves-light left" type="submit" name="action" id="postProduct" onclick ="window.location.href = 'manageView'">Submit</button>
                            </div>
                        </div>
                    </div>

                    <!-- Accept Modal Structure -->
                    <div id="congrats" class="modal">
                        <div class="modal-content">
                            <button class="modal-close btn-flat" style="position:absolute;top:0;right:0;">X</button>
                            <h4>CONGRATS!</h4>
                            <p>You've helped someone in need.</p>
                        </div>
                        <div class="modal-footer">
                            <a href="/" class=" modal-action modal-close waves-effect waves-green btn-flat">Keep Helping</a>
                        </div>
                    </div>

                    <!-- Reject Modal Structure -->
                    <div id="reject" class="modal">
                        <div class="modal-content">
                            <button class="modal-close btn-flat" style="position:absolute;top:0;right:0;">X</button>
                            <h4>No problem!</h4>
                            <p>Your item will be returned back to your shop and the requester will be notified!</p>
                        </div>
                        <div class="modal-footer">
                            <a href="/" class=" modal-action modal-close waves-effect waves-green btn-flat">Keep Helping</a>
                        </div>
                    </div>
                </div>

    </main>

    <footer class="page-footer blue" id="page-footer">
        <div class="container">
            <div class="row"></div>
        </div>
        <div class="footer-copyright pinkT">
            <div class="container"></div>
        </div>
    </footer>



    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="../js/materialize.js"></script>
    <script src="../js/app.js"></script>
    <script type="text/javascript">


        $('#clearModal').on("click", function() {
            $('#medication_name').val('');
            $('#description').val('');
            $('#quantity').val('');
            $('#expiration_date').val();
            $('#imageURL').val('');
            $(".with-gap").prop('checked',false);
        });



        $("#logout").click(function(event){
            event.preventDefault();

            var currentURL = window.location.origin;
            $.get(currentURL + "/logout").then(function(){
                window.location = "/";
            });
        });


    </script>

</body>

</html>